@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

.product-image-container {
    background-color: white;
    padding: 1rem;
}

.product-image {
    height: 200px;
    object-fit: contain;
}

.product-image-placeholder {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-badge {
    position: absolute;
    top: 0;
    left: 100%;
    transform: translateX(-50%);
}

.success-icon {
    width: 80px;
    height: 80px;
}

.order-summary-box {
    position: sticky;
    top: 20px;
}

.card-body {
    background-color: #f8f8f8;
    border-top: 1px solid #e0e0e0;
}

.list-group-item.active {
    background-color: #198754 !important;
    border-color: #198754 !important;
}

.bi-controller {
    font-size: 32pt;
    margin-right: 20px;
}

.navbar-brand {
    display: flex;
    align-items: center;
    font-size: 28pt;
}
