.git
.gitignore
.gitattributes
.editorconfig
.env
.env.example
.phpunit.result.cache
node_modules
npm-debug.log
vendor
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
!storage/app/.gitignore
!storage/framework/.gitignore
!storage/logs/.gitignore
bootstrap/cache/*
!bootstrap/cache/.gitignore
tests
*.md
!README.md
.DS_Store
Thumbs.db
*.log
.idea
.vscode
*.swp
*.swo
*~
docker-compose.override.yml
